:root {
    --primary-color: #16697a;
    --secondary-color: #489fb5;
    --tertiary-color: #5eb9cb;
    --light-accent: #ede7e3;
    --bright-accent: #ffa62b;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary-color);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    width: 100%;
    background-color: var(--bright-accent);
    margin: 20px;
    padding: 20px;
    border: 2px solid var(--light-accent);
    border-radius: 20px;
    place-items: center;
}

main {
    width: 100%;
    background-color: var(--tertiary-color);
    margin: 20px;
    padding: 20px;
    border: 2px solid var(--light-accent);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
}

section {
    width: 480px;
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 20px;
    border: 2px solid var(--light-accent);
    border-radius: 20px;
}

#game-board {
    position: relative;
    width: 410px;
    height: 410px;
    border: 5px solid var(--primary-color);
    display: grid;
    grid-template-columns: repeat( 4, 100px );
    grid-template-rows: repeat( 4, 100px );
    background-color: var(--light-accent);
}

#game-metrics,
#game-buttons {
    display: flex;
    justify-content: space-between;
    background-color: var(--bright-accent);
}

.tile {
    width: 100px;
    height: 100px;
    border: 1px solid var(--secondary-color);
    background-image: url('beach.jpg');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    cursor: pointer;
}

.empty {
    background-image: none;
    cursor: default;
}

#win-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
}

#win-screen.fade-in {
    opacity: 1;
    pointer-events: auto;
}

@media ( max-width: 400px ) {
    body {
        font-size: 12px;
    }
    #game-board {
        transform: scale( 0.8 );
        transform-origin: top center;
        margin: 0px;
    }
    section {
        transform: scale( 0.7 );
        transform-origin: top center;
        margin: 0px;

    }
}

@media ( max-width: 1024px ) {
    body {
        font-size: 16px;
    }
}
